body {
  background-color: #FFF3EB;
  color: #8E398E;
  font-family: 'Spartan', sans-serif;
  margin-left: 170px;
}

h1 {
  color: #8E398E;
  font-size: 250%;
  font-family: 'Spartan', sans-serif;
  margin-bottom: 18px;
  width: 115%;
}

h4 {
  color: white;
  font-size: 80%;
  margin-top: 8px;
  margin-bottom: 3.5px;
  font-size: 95%;
  position: relative;
  top: 45px;
}

h5 {
  color: #F736F7;
  margin-top: 2.5px;
  position: relative;
  font-size: 100%;
  font-weight: 100;
}

img {
  border-radius: 100%;
  width: 11%;
  height: auto;
  float: left;
  margin: 40px 20px auto 40px;
}

div {
  height: 250px;
  width: 400px;
  margin-left: 170px;
  margin-top: 100px;
}

.title {
  font-size: 135%
}

.sterne1 {
  height: auto;
  width: auto;
  position: relative;
  right: 20px;
  margin-top: 0px;
  left: 550px;
  top: -200;
  bottom: 210px;
  margin-left: 250px;
  font-size: 120%;
  font-weight: bold;
}

.sterne2 {
  height: auto;
  width: auto;
  position: relative;
  right: 20px;
  margin-top: 30px;
  left: 594px;
  top: -200;
  bottom: 210px;
  margin-left: 250px;
  font-size: 120%;
  font-weight: bold;
}

.sterne3 {
  height: auto;
  width: auto;
  position: relative;
  right: 20px;
  margin-top: 30px;
  left: 638px;
  top: -200;
  bottom: 210px;
  margin-left: 250px;
  font-size: 120%;
  font-weight: bold;
}

.text2 {
  line-height: 1.8;
  color: #BFABBF;
  width: 550px;
  font-size: 80%;
  text-align: left;
}

.checked {
  color: orange;
}

.innen {
  height: 60px;
  width: auto;
  margin: 10px 40px 70px auto;
}

.intro {
  position: relative;
  font-size: 90%;
  line-height: 2;
  font-weight: 300;
  margin: auto 40px auto 40px;
  color: white;
}

.colton {
  background-color: #8E398E;
  width: 400px;
  height: 270px;
  border-radius: 3%;
  position: relative;
  margin-top: 0;
}

.irene {
  background-color: #8E398E;
  width: 400px;
  height: 270px;
  border-radius: 3%;
  position: relative;
  margin: auto 50px auto 50px;
  bottom: 265px;
  left: 550px;
}

.anne {
  background-color: #8E398E;
  width: 400px;
  height: 270px;
  border-radius: 3%;
  position: relative;
  margin: auto 50px auto 50px;
  bottom: 525px;
  left: 980px;
}
